.oneBlog__main {
    background: url("../../images//BlogsImage/oneBlogBg.png") center/cover no-repeat;
    height: 850px;
}

.breadCrumbs {
    padding-top: 128px;

    div {
        display: flex;
        margin-right: 10px;
        color: var(--grey);

        a {
            color: var(--grey);
        }
    }

    div:after {
        content: '/';
        margin-left: 10px;
    }

    div:last-child:after {
        display: none;
    }
}


.oneBlog__info {
    display: flex;
    flex-direction: column;

    .selectedBlog__variants {
        display: flex;
        column-gap: 60px;

        img {
            width: 50%;
        }

        div {
            display: flex;
            flex-direction: column;
        }
    }

    p {
        font-family: "Lato", sans-serif;
        line-height: 33px;
        padding-top: 86px;
        letter-spacing: 2%;
    }

    img {
        padding-top: 86px;
    }

    &_green {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 38px;
        color: var(--green);
        font-style: italic;
        padding-top: 128px;
        margin: 0 auto;
        width: 80%;
        line-height: 58px;
    }

    .oneBlog__btn {
        font-family: "Rufina", sans-serif;
        margin-top: 30px;
        width: 25%;
        background-color: var(--green);
        font-size: 24px;
        font-weight: 700;
        color: var(--white);
        padding: 20px 30px;
    }
}

.oneBlog__top {
    display: flex;
    column-gap: 60px;
    width: 100%;

    .oneBlog__infoCover {
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    .oneBlog__function {
        width: 25%;

        .products__title {
            font-size: 32px;
            font-weight: 400;
            padding-bottom: 20px;
        }

        .products__line {
            border-top: 4px dotted var(--black);
            padding: 25px 0;
        }

        .products__productList {
            display: flex;
            justify-content: space-between;
            row-gap: 5px;

            p {
                font-size: 24px;
            }
        }

        .oneBlog__price {
            padding-top: 35px;
            font-size: 24px;
        }
    }
}

.oneBlog__bottom {
    .oneBlog__bottomComments {
        padding-bottom: 128px;

        h3 {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            padding: 128px 0 86px 0;
        }

        .oneBlog__comments {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;

            .oneBlog__commentsCover {
                display: flex;
                align-items: center;


                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                .oneBlog__commentsText {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    .oneBlog__text {
                        display: flex;
                        flex-direction: column;
                    }

                    .oneBlog__button {

                        button {
                            font-family: "Lato", sans-serif;
                            background-color: transparent;
                            font-size: 24px;
                            font-weight: 700;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .oneBlog__bottomForm {
        .line {
            width: 80%;
            margin: 0 auto;
            border-top: 4px dotted var(--black);

        }

        h3 {
            font-family: "Rufina", sans-serif;
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            padding: 128px 0 96px 0;
        }

        form {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            row-gap: 64px;

            .label input:first-child {
                padding: 100px 0;
            }


            .label {
                p {
                    font-family: "Lato", sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    letter-spacing: 2%;
                    padding-bottom: 16px;
                }

                input {
                    font-size: 24px;
                    width: 100%;
                    padding: 40px 0;
                    border: 2px solid var(--black);
                }
            }


            button {
                font-family: "Rufina", sans-serif;
                width: 30%;
                padding: 20px 46px;
                border: 2px solid var(--black);
                font-weight: 700;
                font-size: 32px;
                line-height: 48px;
                margin-bottom: 198px;
                background-color: transparent;
            }
        }
    }
}