@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rufina:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1644px;
  margin: 0 auto;
}

.fullContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}


ol,
ul,
li {
  list-style-type: none;
}


:root {
  --green: #233000;
  --white: #FFFFFF;
  --lightGreen: #EBF0E4;
  --saladGreen: #5E6600;
  --black: #000;
  --grey: #4D4D4D;
}


.burgerMenu__container {
  max-width: 1828px;
  width: 100%;
  margin: 0 auto;
}


.title {
  font-family: "Rufina", sans-serif;
  font-weight: 700;
  font-size: 108px;
  line-height: 120px;
}

.subtitle {
  font-family: "Rufina", sans-serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 84px;
}

.description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 2%;
}


.formBtn {
  font-family: 'Rufina', serif;
  background-color: var(--green);
  color: var(--white);
  font-weight: 400;
  font-size: 32px;
  padding: 20px 94px;
  line-height: 48px;
}

.breadCrumbs {
  font-size: 30px;
  color: var(--black);
}


.headerBg {
  background-color: var(--green);
}

p:hover {
  color: var(--green);
}



@media screen and (max-width:1800px) {
  .container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width:1500px) {
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}


